<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appmanage.dao.version.VersionMapper">
	<update id="modifyVersionById">
		UPDATE `app_version` 
		<set>
		  <if test="versionNo != null and versionNo != ''">`versionNo` = #{versionNo},</if>
		  <if test="versionNo != null and versionNo != ''">`versionInfo` = #{versionInfo},</if>
		  <if test="versionNo != null and versionNo != ''">`publishStatus` = #{publishStatus},</if>
		  <if test="versionNo != null and versionNo != ''">`downloadLink` = #{downloadLink},</if>
		  <if test="versionNo != null and versionNo != ''">`versionSize` = #{versionSize},</if>
		  <if test="versionNo != null and versionNo != ''">`modifyBy` = #{modifyBy},</if>
		  <if test="versionNo != null and versionNo != ''">`modifyDate` = #{modifyDate},</if>
		  <if test="versionNo != null and versionNo != ''">`apkFileName` = #{apkFileName}</if>
		  </set>
		WHERE `id` = #{id}
	</update>
	
	<!-- 根据id查询历史版本 -->
	<select id="getAppversionById" resultMap="VersionList">
		SELECT v.*,i.`softwareName` AS appName  FROM `app_version` v,`app_info` i
		WHERE v.`appId` = i.`id` AND i.`id` = #{id}
	</select>
	<resultMap type="Version" id="VersionList">
		<result column="appName" property="appName"/>
	</resultMap>
	
	
	<select id="getVersionById" resultType="Version">
		SELECT * FROM `app_version`
		WHERE id = (SELECT MAX(id) FROM `app_version` WHERE `appId` = #{id} ORDER BY `versionNo` DESC)
	</select>
	
	<delete id="delVersionByAppId">
		DELETE FROM `app_version` WHERE `appId` = #{appId}
	</delete>
	
	
	
</mapper>	